doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/jquery-1.11.3.min.js')
    script(src='/javascripts/photos.js')
  body
    block content
