body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

a {
  color: #00B7FF;
}

.description {
    margin: 0 auto;
    width: 50%;
}
