body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

a {
  color: #00B7FF;
}

button {
    border: none;
    cursor: pointer;
    color: white;
    background-color: white;
}

button:focus {
    outline: none;
}

.description {
    margin: 0 auto;
    width: 50%;
}

.main-photo-container {
    margin: 0 auto;
    width: 50%;
}

.main-photo-container img {
    margin: 0 auto;
    display: block;
}

.main-photo {

}

.photos {
    margin: 0 auto;
    width: 50%;
}
