extends ../layout

block content
    h1= title
    .description
        p Care about let is written breeze ♥ passion you're each if long even back forever, part smile beyond place beautiful you.
            Look separate - reason kiss life, more over best full other but sweet saw voice am me. Shall do hand our far imagine
        p
            a(href="/photos/1") Start here
